<footer class="footer">
   
    <div class="foo-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="foo-navigation">
                        <ul>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Privacy & Policy</a></li>
                            <li><a href="#">Legal</a></li>
                            <li><a href="#">Notice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright">Copyright &copy; <a href="#">themeies</a> - 2019</div>
                </div>
            </div>
        </div>
    </div>
</footer>


    <!-- Script -->
    <script src="https://demo.themeies.com/roysha-html/admin/js/jquery.min.js"></script>
    <script src="https://demo.themeies.com/roysha-html/admin/js/bootstrap.bundle.min.js"></script>
    <script src="https://demo.themeies.com/roysha-html/admin/js/moment.min.js"></script>
    <script src="https://demo.themeies.com/roysha-html/admin/js/daterangepicker.js"></script>
    <script src="https://demo.themeies.com/roysha-html/admin/js/bootstrap-select.min.js"></script>
    <script src="https://demo.themeies.com/roysha-html/admin/js/custom.js"></script>

<script src="//code.tidio.co/yhqzqfzw1yuuubwzdbzsjecabw0raix7.js" async></script>

