
<script src="/static/assets1/vendor/jquery/jquery.min.js"></script>
<script src="/static/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<script src="/static/assets1/vendor/chartjs/chartjs.js"></script>



<script src="/static/assets1/js/plugins/chartjs-line-init.js"></script>




<script src="/static/assets1/js/plugins/chartjs-donut.js"></script>






<script src="/static/assets1/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/static/js/plugins/perfect-scrollbar-init.js"></script>



<script src="/static/assets1/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/static/assets1/js/plugins/circle-progress-init.js"></script>



<script src="//code.tidio.co/qedneq1kzx49qyzszfzfcme94eu2u4px.js" async></script>



<script src="/static/assets1/js/scripts.js"></script>
