{% extends 'acc/base.html' %}
{% load static %}
{% block content %}
<body>

    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-4">
                        <div class="page-title-content">
                            <h3>Dashboard</h3>
                            <p class="mb-2">Welcome {{user.username}} to your Dashboard</p>
                            <h3>Account Number: {{user.accnumber}}</h3>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="breadcrumbs"><a href="#">Home </a><span><i
                                    class="ri-arrow-right-s-line"></i></span><a href="#">Dashboard</a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Stats</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-primary"><span><i
                                                    class="ri-wallet-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>${{user.totalprofit}}</h3>
                                            <p>Total Profit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-secondary"><span><i
                                                    class="ri-wallet-2-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>${{user.totaldeposit}}</h3>
                                            <p>Total Balance</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-success"><span><i
                                                    class="ri-wallet-3-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>${{user.accountbalance}}</h3>
                                            <p>Current Rate</p>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class=" col-xxl-4 col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Balance Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="total-balance">
                                        <p>Total Balance</p>
                                        <h2>${{user.totaldeposit}}</h2>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xxl-4 col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Statistics</h4>
                        </div>
                        <div class="card-body">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="most-selling-items"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Transaction History</h4>
                            <a href="#">See more</a>
                        </div>
                        <div class="card-body">
                            <div class="invoice-content">
                                <ul>
                                    <li class="d-flex justify-content-between active">
                                        <div class="d-flex align-items-center">
                                            <div class="invoice-user-img me-3"><img src="images/avatar/1.jpg" alt=""
                                                    width="50"></div>
                                            <div class="invoice-info">
                                                <h5 class="mb-0">Terry P. Camacho</h5>
                                                <p>1 january 2022 at 10.15 pm</p>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <h5 class="mb-2">+12,500.00</h5>
                                            <span class=" text-white bg-success">Paid</span>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="invoice-user-img me-3"><img src="images/avatar/2.jpg" alt=""
                                                    width="50"></div>
                                            <div class="invoice-info">
                                                <h5 class="mb-0">John L. Foster</h5>
                                                <p>5 january 2021 at 10.15 pm</p>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <h5 class="mb-2">+34,660.00</h5>
                                            <span class=" text-white bg-warning">Due</span>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="invoice-user-img me-3"><img src="images/avatar/3.jpg" alt=""
                                                    width="50"></div>
                                            <div class="invoice-info">
                                                <h5 class="mb-0">John C. Adams</h5>
                                                <p>5 january 2021 at 10.15 pm</p>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <h5 class="mb-2">+2,400.00</h5>
                                            <span class=" text-white bg-danger">Cancel</span>
                                        </div>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="invoice-user-img me-3"><img src="images/avatar/4.jpg" alt=""
                                                    width="50"></div>
                                            <div class="invoice-info">
                                                <h5 class="mb-0">Weston P. Thomas</h5>
                                                <p>5 january 2021 at 10.15 pm</p>
                                            </div>
                                        </div>
                                        <div class="text-end">
                                            <h5 class="mb-2">+11,450.00</h5>
                                            <span class=" text-white bg-success">Paid</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>



</div>





</body>
{% endblock content %}