{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>



<div class="partner-area ptb-100">
<div class="container">
<div class="partner-title">
<h3>Used By 300k+ Businesses Of All Shapes And Sizes</h3>
</div>
<div class="partner-slides owl-carousel owl-theme">
<div class="partner-image">
<a href=""><img src="/static/assets/images/partner/partner-1.png" alt="image"></a>
</div>
<div class="partner-image">
<a href=""><img src="/static/assets/images/partner/partner-2.png" alt="image"></a>
</div>
<div class="partner-image">
<a href=""><img src="/static/assets/images/partner/partner-3.png" alt="image"></a>
</div>
<div class="partner-image">
<a href=""><img src="/static/assets/images/partner/partner-4.png" alt="image"></a>
</div>
<div class="partner-image">
<a href=""><img src="/static/assets/images/partner/partner-5.png" alt="image"></a>
</div>
<div class="partner-image">
<a href=""><img src="/static/assets/images/partner/partner-6.png" alt="image"></a>
</div>
</div>
<div class="partner-optional-text">
<p>Medium-to-large Business? <span>Speak To Sales</span></p>
</div>
</div>
</div>



<div class="reliable-area ptb-100">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 col-md-12">
    <div class="reliable-image" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
    <img src="/static/assets/images/reliable/reliable.png" alt="image">
    <div class="reliable-shape">
    <img src="/static/assets/images/reliable/shape-1.png" alt="image">
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
    <div class="reliable-content" data-aos="fade-left" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
    <span>Reliable Online Payment Platform</span>
    <h3>Transfer & Deposite Money Anytime, Anywhere In The World</h3>
    <p>A specially designed investment product that helps wealth accumulation through consistent investments.</p>
    <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6">
    <ul class="reliable-list">
    <li><i class="ri-check-line"></i> Powerful Mobile & Online App</li>
    <li><i class="ri-check-line"></i> Commitment Free</li>
    <li><i class="ri-check-line"></i> Full Data Privacy Compliance</li>
    </ul>
    </div>
    <div class="col-lg-6 col-md-6">
    <ul class="reliable-list">
    <li><i class="ri-check-line"></i> Free Plan Available</li>
    <li><i class="ri-check-line"></i> 100% Transparent Cost</li>
    <li><i class="ri-check-line"></i> Debit Mastercard Included</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


    <div class="global-transfers-area pt-100 pb-75">
        <div class="container">
        <div class="section-title">
        <span>Global Transfers</span>
        <h2>We Charge As Little As Possible. No Subscription Fee</h2>
        </div>
        <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6">
        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
        <div class="icon">
        <i class="flaticon-envelope"></i>
        </div>
        <h3>Send Money Cheaper And Easier Than Old-school Banks</h3>
        
        <a href="" class="global-btn">Send Money</a>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="60" data-aos-duration="600" data-aos-once="true">
        <div class="icon">
        <i class="flaticon-money-transfer"></i>
        </div>
        <h3>Spend Abroad Without The Hidden Fees</h3>
        
        <a href="" class="global-btn">Get Started</a>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="70" data-aos-duration="700" data-aos-once="true">
        <div class="icon">
        <i class="flaticon-income"></i>
        </div>
        <h3>Receive Payments Like A Local In 9 Currencies</h3>
        
        <a href="" class="global-btn">Available Accounts</a>
        </div>
        </div>
        <div class="col-lg-3 col-sm-6">
        <div class="single-global-transfers-card" data-aos="fade-up" data-aos-delay="80" data-aos-duration="800" data-aos-once="true">
        <div class="icon">
        <i class="flaticon-conversion"></i>
        </div>
        <h3>Convert And Hold 54 Currencies</h3>
        
        <a href="" class="global-btn">See All Currencies</a>
        </div>
        </div>
        </div>
        </div>
        </div>

        <div class="paiement-area ptb-100">
            <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
            <div class="paiement-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
            <span>Paiement Services Worldwide</span>
            <h3>Easily Grow Your Business Save More Money</h3>
            
            <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
            <ul class="paiement-list">
            <li><i class="ri-check-line"></i> Reliable Online Payment</li>
            <li><i class="ri-check-line"></i> Low Transaction Fee</li>
            <li><i class="ri-check-line"></i> Affordable Security Packages</li>
            </ul>
            </div>
             <div class="col-lg-6 col-md-6">
            <ul class="paiement-list">
            <li><i class="ri-check-line"></i> Best Networking</li>
            <li><i class="ri-check-line"></i> Secure Payment Service</li>
            <li><i class="ri-check-line"></i> Real Time Money Tracking</li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-12">
            <div class="paiement-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
            <img src="/static/assets/images/paiement.png" alt="image">
            </div>
            </div>
            </div>
            </div>
            </div>









<div class="app-area ptb-100">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 col-md-12">
    <div class="app-content" data-aos="fade-right" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
    <span></span>
    <h3>You Can Find All The Thing You Need In Our Dashboard</h3>
    
    
    </div>
    </div>
    <div class="col-lg-6 col-md-12">
    <div class="app-image" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-once="true">
    <img src="/static/assets/images/app.png" alt="image">
    <div class="circle-pattern" data-aos="fade-down" data-aos-delay="70" data-aos-duration="700" data-aos-once="true"></div>
    </div>
    </div>
    </div>
    </div>
    </div>




</body>
{% endblock content %}